@model IEnumerable<SacrementPlanner.Models.Planner>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OpeningSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntermediateSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClosingSong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SacramentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Conductor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingSong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Conductor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
